.res {
  grid-row-start: 1;
  grid-row-end: 3;

  grid-column-start: 5;
  grid-column-end: 13;

  margin: 0.15rem;

  display: grid;
  grid-template-rows: repeat(12, minmax(0, 1fr));
  grid-template-columns: repeat(12, minmax(0, 1fr));

  background-color: #ccc;
  border: 0.1rem solid #333;
  border-radius: 0.4rem;
}

.res__input {
  border: none;
  outline: none;

  grid-column-start: 1;
  grid-column-end: 13;

  overflow-x: auto;

  color: #111;
}

.res__op {
  grid-row-start: 9;
  grid-row-end: 13;

  padding-left: 0.4rem;
}

.res__res {
  grid-row-start: 1;
  grid-row-end: 9;

  padding-right: 0.8rem;

  font-size: 2rem;
  text-align: end;

  border-bottom: 0.13rem solid #222;
}
